.countryCard {
    border: 1px solid #57A;
    width:350px;
    height:250px;
    margin-top:20px;
}

.countryCard a {
    text-decoration: none;
}
.countryCard h3 {
    color:white;
    margin:5px;
    height:50px;
}

.countryCard img {
    width:100%;
    height:76%;
    object-fit:cover;
}