.navBar {
    display: flex;
    justify-content:space-between;
	align-items:center;
    padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: rgba(80, 88, 131, 0.75);
    height:80px;
}

.createButton {
	height:50px;
	margin:8px;
	border-radius:10px;
}